---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="The Developer's GPT Collection">
	<main>
		<h1>The Developer's <span class="text-gradient">GPT Collection</span></h1>
		<p class="instructions">
			Revolutionize Your Code with a <strong>Custom GPT Collection</strong>:
			Transforming Development into a <strong>Fun</strong>, <strong>Fast</strong>, and <strong>Fantastically</strong> Efficient Adventure !

		</p>
		<ul role="list" class="link-card-grid">
			<Card
				image='../assets/symfony_gpt.png'
				href="https://chat.openai.com/g/g-VyliDiSyc-symfonygpt"
				title="SymfonyGPT"
				body="Symfony/PHP Expert Advisor"
			/>
			<Card
				image='../assets/postgres_sql_sage.png'
				href="https://chat.openai.com/g/g-UDngWiMMw-postgresql-sage"
				title="PostgreSQL Sage"
				body="Expert PostgreSQL advice with SQL file downloads."
			/>
			<Card
				image='../assets/mysql_maestro.png'
				href="https://chat.openai.com/g/g-YCpJ5Xd0d-mysql-maestro"
				title="MySQL Maestros"
				body="Expert in MySQL, provides complex queries and utilizes advanced database functions."
			/>
			<Card
				image='../assets/easyadmin.png'
				href="https://chat.openai.com/g/g-73uUwdQ5l-easyadmin-symfony-wizard"
				title="EasyAdmin (Symfony) Wizard"
				body="Expert in EasyAdmin for Symfony, providing code snippets and configurations."
			/>
			<Card
				image='../assets/linux.png'
				href="https://chat.openai.com/g/g-NiPIJl83L-linux-shell-guru"
				title="Linux Shell Guru"
				body="Linux Bash/Shell command expert, provides scripting assistance and explanations."
			/>
			<Card
				image='../assets/gitlab.png'
				href="https://chat.openai.com/g/g-IJ8Ysklqy-git-lab-ci-cd-guru"
				title="Git Lab CI/CD Guru"
				body="Approachable GitLab CI/CD expert, balancing technicality with clarity."
			/>
			<Card
				image='../assets/vector_logo.png'
				href="https://chat.openai.com/g/g-HWzMHMYr4-vector-logo-maker"
				title="Vector Logo Maker"
				body="I create simple, text-free, vectorial app logos."
			/>
			<Card
				image='../assets/selfhosted.png'
				href="https://chat.openai.com/g/g-dfwbNOJNQ-awesome-selfhosted"
				title="Awesome-Selfhosted"
				body="Recommends self-hosted IT solutions, tailored for professionals (from https://awesome-selfhosted.net/)."
			/>
			<Card
				image='../assets/smartphone.png'
				href="https://chat.openai.com/g/g-oUKAdent5-smartphone-stylist"
				title="Smartphone Stylist"
				body="I'm a direct and efficient wallpaper creator for smartphones!"
			/>
			<Card
				image='../assets/kaamelott.png'
				href="https://chat.openai.com/g/g-fHKQmgwf3-kaamelott-gpt"
				title="Kaamelott GPT"
				body="Ce que je dis, tout le monde s'en tamponne !"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
